@model WebApplication3Books.Models.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактиране</h1>

<h4>Книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isbn" class="control-label"></label>
                <input asp-for="isbn" class="form-control" />
                <span asp-validation-for="isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>

             <div class="form-group">
                 Файл : 
               @Html.DisplayFor(Book => Book.fileName) @Html.DisplayFor(Book => Book.Extension)
            </div>
             <div class="form-group"> 
                  
               <input type="file" name="files" multiple  />
             </div>
            <div class="form-group">
                editBookDatabase
                <button class="btn btn-success" type="submit" asp-controller="Books1" asp-action="editBookDatabase">Запази</button>
               <!-- <input type="submit" value="Save" class="btn btn-primary" /> -->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад към списък с книги</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
