@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли!</h1>
    <p>


        В Моята библиотека посетителите имат възможността да се запознаят с творчеството на относително голям брой български и чуждестранни автори.
        </p>  <p>


Голяма част от произведенията, намиращи се в Моята библиотека, са взети от библиотеките на Александър Минковски и на Мандор. Друга част от текстовете са пратени от авторите или преводачите им или от хора, които са се потрудили да ги цифровизират.
Всички останали са дошли от дебрите на Мрежата.  </p>
 <p>
Всички текстове могат да бъдат четени през браузър, а който желае да ги чете и без връзка към Мрежата, може да си ги свали. На списъчните страници, до всяко заглавие има препратка към архивираното произведение в няколко формата.

    </p>
</div>
