@{
    ViewData["Title"] = "Правила за поверителност";
}
<h1>@ViewData["Title"]</h1>

<p>Авторските права върху текстовете принадлежат на техните автори и преводачи, евентуално и на трети лица.

Някои произведения се разпространяват при условията на свободни лицензи. Тях можете свободно да копирате, разпространявате, представяте или изпълнявате, дори и с търговска цел.

Друга част са полусвободни — тях можете да копирате, разпространявате, представяте или изпълнявате само ако това е с нетърговска цел.
</p>
